#container{
  height: 300px;
  width: 80%;
  background-color: #fff;
  margin: 10px auto;
  border: 2px solid black;
  text-align: center;
  display: flex;
  flex-direction: row;

}

#container div{
  width: 100px;
  height: 500px;
}